@import '../../styles/utils.less';

.header {
  background-color: @oc-pink-9;
  display: flex;
  justify-content: space-between;
  //border-bottom: .5px solid @oc-gray-3;

  .navigation-box {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .navigation-icon {
      color: white;
      font-size: 1.5rem;
      padding-left: 1rem;
    }
  }

  .logo-box {
    font-size: 3rem;

    .logo {
      background-color: @oc-pink-9;

      @media @mobile {
        padding-bottom: 1rem;
      }
      @media @tablet {
        padding-bottom: 1rem;
      }

      .logo-text {
        font-weight: lighter;
        text-decoration: inherit;
        cursor: pointer;
        color: @oc-gray-3;

        @media @mobile {
          font-size: 1.5rem;
        }
        @media @tablet {
          font-size: 1.5rem;
        }
        @media @desktop {
          font-size: 2.5rem;
        }
        @media @desktop-xl {
          font-size: 2.5rem;
        }
        @media @desktop, @desktop-xl {
          font-size: 2.5rem;
        }
      }
    }
  }

  .search-box {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .search-icon {
      color: white;
      font-size: 1.5rem;
      padding-right: 1rem;
    }
  }
}



