@import '../../styles/utils.less';

.container {
  display: flex;
  justify-content: center;
}
.main-box {
  height: 100%;
  background: @oc-gray-3;

  @media @mobile {
    width: 100vw;
  }
  @media @tablet {
    width: 100vw;
  }
  @media @desktop {
    width: 100vw;
  }
  @media @desktop-xl {
    width: 100vw;
  }
  @media @desktop, @desktop-xl {
    width: 45vw;
  }

  .main-content {
  }
}
