@import '../../styles/utils.less';

.footer {
  padding: 1.5rem 0 1.5rem 0;
  background-color: @oc-gray-4;
  display: flex;
  justify-content: center;
}

.footer-box {
  font-size: 3rem;
}

.footer-logo {
}

.footer-text {
  text-decoration: inherit;
  cursor: pointer;
  color: @oc-pink-9;

  @media @mobile {
    font-size: .5rem;
  }
  @media @tablet {
    font-size: .5rem;
  }
  @media @desktop {
    font-size: 1rem;
  }
  @media @desktop-xl {
    font-size: 1rem;
  }
  @media @desktop, @desktop-xl {
    font-size: 1rem;
  }
}
