@import '../styles/utils.less';

.main-banner {
  background: @oc-pink-9;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem;

  .main-img {
    margin: 0 auto;

    .icon-cover {
      margin: 0 auto;
    }

    .main-button {
      margin: 0 auto;
      background: @oc-gray-9;
      border-radius: 5px;
      color: @oc-gray-4;
      display: flex;
      justify-content: center;
      border: white;

      @media @mobile {
        height: 40px;
        width: 140px;
      }
      @media @tablet {
        height: 40px;
        width: 140px;
      }
      @media @desktop {
        height: 70px;
        width: 180px;
      }
      @media @desktop-xl {
        height: 70px;
        width: 180px;
      }
      @media @desktop, @desktop-xl {
        height: 70px;
        width: 180px;
      }

      .button-text {
        font-size: 1.5rem;

        @media @mobile {
          font-size: 1rem;
        }
        @media @tablet {
          font-size: 1rem;
        }
      }
    }
  }
}

.main-buttons-box {

  .main-buttons-1 {
    display: flex;
    justify-content: center;

    .main-buttons-button-1 {
      color: @oc-gray-4;
      background: @oc-gray-7;
      display: block;
      width: 100%;
      margin: 0.3rem;
      padding: 2rem;
      font-size: 1.5rem;
      border-radius: 5px;
      //border: 1px solid @oc-pink-9;
    }
  }

  .main-buttons-2 {
    display: flex;
    justify-content: center;

    .main-buttons-button-2 {
      color: @oc-gray-4;
      background: @oc-gray-7;
      display: block;
      width: 100%;
      margin: 0.3rem;
      padding: 2rem;
      font-size: 1.5rem;
      border-radius: 5px;
      //border: 1px solid @oc-pink-9;
    }
  }
}


