@import '../../styles/utils.less';

.additional {
  width: 100%;
  justify-content: space-between;
  display: flex;
  margin-top: 1rem;
  color: rgba(0,0,0,0.45);
}

.quantity {
  font-weight: bold;
}

.performance-title {
  text-align: center;
  border-bottom: 1px solid @oc-gray-5;
  margin: 0.5rem 0 0.5rem 0;
  padding: 0 1.5rem 0.5rem 1.5rem;
  color: @oc-gray-8;
  font-weight: 900;
  text-align: left;
  font-size: 1.2rem;

  .perfomance-subtitle {
    font-size: 1rem;
  }
}

.latest-post {
  border-bottom: 1px solid @oc-gray-5;
  padding: 0 1.5rem 0 1.5rem;
}
